<!DOCTYPE html>
<html lang="en">
  <head>
  
   
    <meta http-equiv="X-UA-Compatible" content="ie=edge"> 
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    
    <title>{{title}}</title>
    {{#if showTests}}
      <link rel="stylesheet" href='/vendor/mocha.css'
    {{/if}}
    <script src='/vendor/jquery/dist/jquery.min.js'></script>
    <link type="text/css" rel='stylesheet' href='/stylesheets/style.css' />
    <link type="text/css" rel='stylesheet' href='/vendor/bootstrap/dist/css/bootstrap.min.css' />
  </head>
  <body>
    <nav class="navbar navbar-expand-lg  navbar-dark bg-dark" >
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand" href="/">{{title}}</a>

  <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      <li class="nav-item">
        <a class="nav-link" href="/">Home </a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Tours
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="/tours/hood-river">Hood River</a>
          <a class="dropdown-item" href="/tours/on-the-nile">On the Nile</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="/tours/request">Where would You Like?</a>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/contact">Contact</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/about">About</a>
      </li>
     
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
</nav>
  <div class='container'>
    {{{body}}}
  </div>
    {{#if showTests}}
      <div id='mocha'></div>
      <script src='/vendor/mocha.js'></script>
      <script src='/vendor/chai.js'></script>
      <script>
        mocha.ui('tdd');
        var assert = chai.assert
      </script>
      <script src="/qa/tests-global.js"></script>
      {{#if pageTestScript}}
        <script src="{{pageTestScript}}"></script>
      {{/if}}
      <script>mocha.run();</script>
    {{/if}}
   
    <script src='/vendor/bootstrap/dist/js/bootstrap.min.js'></script>
  </body>
</html>

