<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <header><img src='/images/innocent.jpg' height="50px" alt='Meadowlark Travel'> <h1 style="float:right">{{title}}</h1></header>
    {{{body}}}
  </body>
</html>
